<div class="container">
<h2><%= @restaurants.name %></h2>
<p><%= @restaurants.address %></p>
<p><%= @restaurants.phone_number %></p>
<p><%= @restaurants.category %>
<br>
<br>
<%= link_to "Go back to the list", restaurants_path %>
</div>
